body{
    background-color: aquamarine
    color:black;
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
}
main{
    max-width: 90%;
}
button{
    background-color: azure;
    color:blueviolet;
    padding: 10px;
}